@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Outfit;
}

.ph-color {
  color: #e0e0e0;
  font-weight: 300;
}

/* Base variable for preset filters */
:root {
  --extra-filter: none;
}

/* Preset Filters */
.filter-none {
  --extra-filter: none;
}

.filter-grayscale {
  --extra-filter: grayscale(100%);
}

.filter-sepia {
  --extra-filter: sepia(100%);
}

.filter-contrast {
  --extra-filter: contrast(140%);
}

.filter-warm {
  --extra-filter: brightness(1.1) sepia(20%) saturate(120%);
}

.filter-cool {
  --extra-filter: brightness(0.95) saturate(80%) hue-rotate(200deg);
}

.filter-vintage {
  --extra-filter: sepia(40%) contrast(90%) brightness(90%) saturate(120%);
}
